<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>ServerLink</servlet-name>
        <servlet-class>com.quest.servlets.ServerLink</servlet-class>
          <init-param>
            <param-name>version-no</param-name>
            <param-value>1.0.0.0</param-value>
         </init-param>
           <init-param>
            <param-name>version-name</param-name>
            <param-value>Coconut</param-value>
         </init-param>
        <init-param>
            <param-name>database-name</param-name>
            <param-value>user_server</param-value>
        </init-param>
        <init-param>
            <param-name>database-username</param-name>
            <param-value>root</param-value>
        </init-param>
        <init-param>
            <param-name>database-password</param-name>
            <param-value/>
        </init-param>
        <init-param>
            <param-name>database-host</param-name>
            <param-value>localhost</param-value>
        </init-param>
        <init-param>
            <param-name>default-password</param-name>
            <param-value>pass</param-value>
        </init-param>
        <init-param>
            <param-name>password-expires</param-name>
            <param-value>0</param-value>
        </init-param>
        <init-param>
            <param-name>max-password-retries</param-name>
            <param-value>0</param-value>
        </init-param>
        <init-param>
            <param-name>client-timeout</param-name>
            <param-value>0</param-value>
        </init-param>
        <init-param>
            <param-name>multiple-login</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>extension-dir</param-name>
            <param-value>F:\NetBeansProjects\School\build\web\WEB-INF\classes</param-value>
        </init-param>
         <init-param>
            <param-name>external-services</param-name>
            <param-value>
             com.quest.school.StudentService,
             com.quest.school.MarkService,
             com.quest.school.InternetMessageService,
             com.quest.school.EditStudentService,
             com.quest.school.EditMarkService,
             com.quest.school.AccountService,
             com.quest.school.ActivationService,
             com.quest.school.QuestionService
            </param-value>
        </init-param>
         <init-param>
            <param-name>grant-init-privileges</param-name>
            <param-value>student_service,mark_service,message_service,edit_mark_service,edit_student_service,account_service,activation_service,question_service</param-value>
        </init-param>
         <init-param>
            <param-name>grant-init-users</param-name>
            <param-value>root</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServerLink</servlet-name>
        <url-pattern>/server</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
